# ROS 2 build artifacts
build/
install/
log/
.colcon/

# Python & Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS & Temp
.DS_Store
*.log
*.tmp

# Weight files & engine binaries
*.engine

# Optional: Uncomment line below if you want to exclude simulation files when pushing to GitHub
# simulation/
